### Airline Loyalty Analysis and Customer Churn Prediction
This is my personal project, giving an analysis of airline loyalty program. The dataset is available at https://maven-datasets.s3.amazonaws.com

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sb

#### Load the data tables

In [7]:
flight = pd.read_csv('air_loyal/Customer Flight Activity.csv', dtype={'Loyalty Number':'str'})
loyalty = pd.read_csv('air_loyal/Customer Loyalty History.csv', dtype={'Loyalty Number':'str'})

In [12]:
flight.head(2)

,Loyalty Number,Year,Month,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100590,2018,6,12,15276,22914.0,0,0
1,100590,2018,7,12,9168,13752.0,0,0

In [13]:
loyalty.head(2)

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN

In [26]:
pd.concat([loyalty.isna().sum(),loyalty.isna().sum()/len(loyalty)], axis=1).reset_index()

                 index      0         1
0       Loyalty Number      0  0.000000
1              Country      0  0.000000
2             Province      0  0.000000
3                 City      0  0.000000
4          Postal Code      0  0.000000
5               Gender      0  0.000000
6            Education      0  0.000000
7               Salary   4238  0.253211
8       Marital Status      0  0.000000
9         Loyalty Card      0  0.000000
10                 CLV      0  0.000000
11     Enrollment Type      0  0.000000
12     Enrollment Year      0  0.000000
13    Enrollment Month      0  0.000000
14   Cancellation Year  14670  0.876501
15  Cancellation Month  14670  0.876501

There is no null value in the flight activity table. However, in the customer loyalty history table, salary column has null percentage of 25%. Null value in cancellation columns indicating that customers still maintain their loyalty status.

A KNN model will be used to predict the salary of those missing

In [1]:
sb.scatterplot(x=loyalty['Salary'], y=loyalty['CLV'], hue=loyalty['Gender'])

NameError: name 'sb' is not defined

In [15]:
data = loyalty.merge(flight, on=['Loyalty Number'])
data

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,...,Enrollment Month,Cancellation Year,Cancellation Month,Year,Month,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,...,2,NaN,NaN,2018,7,5,11355,11355.0,0,0
1,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,...,2,NaN,NaN,2017,5,4,4908,4908.0,0,0
2,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,...,2,NaN,NaN,2017,6,4,6948,6948.0,0,0
3,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,...,2,NaN,NaN,2017,8,4,5516,5516.0,0,0
4,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,...,2,NaN,NaN,2018,4,4,4376,4376.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392931,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.0,Married,Star,...,12,2016.0,8.0,2018,8,0,0,0.0,0,0
392932,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.0,Married,Star,...,12,2016.0,8.0,2018,9,0,0,0.0,0,0
392933,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.0,Married,Star,...,12,2016.0,8.0,2018,10,0,0,0.0,0,0
392934,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.0,Married,Star,...,12,2016.0,8.0,2018,11,0,0,0.0,0,0
392935,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.0,Married,Star,...,12,2016.0,8.0,2018,12,0,0,0.0,0,0